@using devour
@{
    ViewBag.Title = "Just Mouse Around...";
}
<script type="text/javascript">
    $(function () {
        // the signalr proxy
        var board = $.connection.board;

        // client events that can also be called from the server
        board.client.pong = function(id, value) {
            $('#cell' + id).toggleClass('enabled', (value % 2) === 1);
        };
        board.client.init = function (b) {
            if(b==null) {
                $('#board td.enabled').removeClass('enabled');
                return;
            }
            
            for (var i = 0; i < b.length; ++i) {
                board.client.pong(i, b[i]);
            }
        };
        board.client.toast = function (message) {
            var $message = $('<div class="message"/>').text(message);
            $('body').append($message.fadeIn(250).delay(2000).fadeOut(250));
        };
        
        // build the table
        var $board = $('#board');
        var k = 0;
        for (var i = 0; i < @(Board.BoardHeight); ++i) {
            var $tr = $("<tr/>");
            for (var j = 0; j < @Board.BoardWidth; ++j) {
                var $cell = $("<td/>").attr('id', "cell" + k++).attr('onclick', 'void(0)');
                $tr.append($cell);
            }
            $board.append($tr);
        }

        // wire up the reset button
        $('#reset').on('click', function(e) { 
            board.server.reset();
            e.preventDefault(); 
        });

        // Start the connection
        $.connection.hub
            .start()
            .pipe(function() {
                var lastid = null;
                $(document).on('mousemove', function(e) {
                    e.preventDefault();


                    var $c = $(e.target);
                    
                    if(!$c.is('td')) return;
                    
                    var id = $c.attr('id').substring(4);
                    $('#debug').text(id);
                    
                    // debounce
                    if (id != lastid) {
                        $c.toggleClass('enabled');
                        board.server.ping(id);

                        lastid = id;
                    }
                });
            });

        //This isn't working all that great...
        //var connectionCounts = 0;
        //$.connection.hub.stateChanged(function(e) {
        //    var message = null; 

        //    switch (e.newState) {
        //        case $.signalR.connectionState.connected:
        //            if(connectionCounts > 0) {
        //                message= "Aaaaand we're back!";  
        //            } 
        //            ++connectionCounts;
        //            break;
        //        case $.signalR.connectionState.reconnecting:
        //            message = "Reconnecting...";
        //            break;
        //        case $.signalR.connectionState.disconnected:
        //            message = "Lost connection! :(";
        //            break;
        //    }
        //    if(message != null) {
        //        board.client.toast(message);
        //    }
        //});
    });
</script>
<div id="nav">
    <a href="#" id="reset">Reset Board</a>
    <a href="http://blog.wassupy.com/search/label/SignalR">About</a>
    <a href="https://github.com/mharen/devour">Source</a>
    <a href="#" id="debug"></a>
</div>
<table id="board">
</table>
