@using devour
@{
    ViewBag.Title = "Just Mouse Around...";
}
<script type="text/javascript">
    $(function () {
        // Proxy created on the fly
        var $connection = $.connection.board;

        // Declare a function on the chat hub so the server can invoke it
        $connection.Pong = function (id, value) {
            $('#cell' + id).toggleClass('enabled', (value % 2) === 1);
        };

        $connection.Init = function(board) {
            for (var i = 0; i < board.length; ++i) {
                $connection.Pong(i, board[i]);
            }
        };

        $connection.Toast = function(message) {
            var $message = $('<div class="message"/>').text(message);
            $('body').append($message.fadeIn(250).delay(2000).fadeOut(250));
        };
        
        var $board = $('#board');
        var k = 0;
        for (var i = 0; i < @(Board.BoardHeight); ++i) {
            var $tr = $("<tr/>");
            for (var j = 0; j < @Board.BoardWidth; ++j) {
                var $cell = $("<td/>").attr('id', "cell" + k++);
                $tr.append($cell);
            }
            $board.append($tr);
        }

        $('#reset').on('click', function() { $connection.reset(); });

        // Start the connection
        $.connection.hub.start().done(function () {
            $board.on('mouseenter', 'td', function (e) {
                var $c = $(e.target);
                var i = $c.attr('id').substring(4);
                $connection.ping(i);
            });
        });
    });
</script>
<style>
    html, body, #board {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        background-color: #666;
    }

    body {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    #board {
        empty-cells: show;
        border-spacing: 0;
    }

        #board .enabled {
            background-color: #dde;
        }

    #reset {
        position: fixed;
        top: 5px;
        left: 5px;
    }

    .message {
        padding-top: 150px;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,.5);
        font-size: 36px;
        font-family: Georgia;
        text-align: center;
        vertical-align: middle;
    }
</style>
<button id="reset">Reset</button>
<table id="board">
</table>
