<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery.signalR-0.5.3.min.js"></script>
    <script src="~/signalr/hubs"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
