<!DOCTYPE html>
<html>
<head>
    <meta name='viewport' content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;' />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.2.4/json3.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="~/Scripts/jquery.signalR-1.0.0-alpha1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        // this was pretty helpful, too: https://developer.apple.com/library/safari/#documentation/appleapplications/reference/safariwebcontent/HandlingEvents/HandlingEvents.html
        // via http://ross.posterous.com/2008/08/19/iphone-touch-events-in-javascript/ (with some slight changes)
        function touchHandler(event) {
            var touches = event.touches;
            for (var i = 0; i < touches.length; ++i) {
                try {
                    var touch = touches[i];
                    var simulatedEvent = document.createEvent("MouseEvent");

                    simulatedEvent.initMouseEvent("mousemove", true, true, window, 1,
                        touch.screenX, touch.screenY,
                        touch.clientX, touch.clientY, false /*ctrl*/, false /*alt*/,
                        false /*shift*/, false /*meta*/, 0 /*left*/, null /*related target*/);

                    // via http://stackoverflow.com/questions/3918842/how-to-find-out-the-actual-event-target-of-touchmove-javascript-event
                    var elementUnderFinger = document.elementFromPoint(touch.clientX, touch.clientY);
                    elementUnderFinger.dispatchEvent(simulatedEvent);
                    event.preventDefault();
                } catch (e) {
                    // gulp!
                }
            }
        }

        document.addEventListener("touchmove", touchHandler, true);


        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36183629-1']); _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>
    @RenderBody()
</body>
</html>
